<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<div class="app-component test-panel-container">
  <div class="test-panel plugin-test-panel">
    <div class="bottom-10">
      <span class="bigger-bold-text"
      i18n="test for plugin requests|A set of widgets to test sending request to other apps on the desktop@@app-request-test">App Request Test</span>
      <!-- Tests the sending of requests to other plugins. Defaults to send a message
           to itself (and responding) to show more parts of the API-->
      <zlux-button class="iframe-button shadowed" type="button" (click)="sendAppRequest()"
      i18n="send request to application|Send a request to another application on the desktop@@send-app-request">Send App Request</zlux-button>
      <zlux-button class="iframe-button shadowed" type="button" (click)="getDefaultsFromServer()"
      i18n="get from server@@get-from-server">Get from Server</zlux-button>
      <zlux-button class="iframe-button shadowed" type="button" (click)="saveToServer()"
      i18n="save to server@@save-to-server">Save to Server</zlux-button>
    </div>
    <span class="bold-text" i18n="application identifier">Application Identifier: </span>
    <div>
      <div class="div-input">
        <input class="iframe-input input-height input-corner input-text shadowed" type="text" [(ngModel)]="targetAppId"/>
      </div>
      <div>
        <!-- Action types are used to determine what sort of Action is being taken on whatever App instance is the target. Launch simply creates a new instance with the context you provide, but Message can be used to communicate with an already open Instance to drive some action -->
        
        <label class="bold-text" i18n="type of action|choose a type of action to perform@@action-type">Action Type: </label>
        <input type="radio" [(ngModel)]="actionType" name="actionType" value="Launch">
        <label for="actionLaunch" i18n="launch another app@@launch">Launch</label>

        <input type="radio" [(ngModel)]="actionType" name="actionType" value="Message">
        <label for="actionMessage" i18n="send a message to another app@@message">Message</label>
      </div>
      <!-- App target modes are used to determine which instance of an App should be communicated with. You can create a new instance to send the Action to, or you could reuse an existing instance that is open. -->
      <div>
        <label class="bold-text"
        i18n="action mode|how to handle launch depending on whether target app has already been launched@@app-target-mode">App Target Mode: </label>
        <input type="radio" [(ngModel)]="targetMode" name="targetMode" value="PluginCreate">
        <label for="targetCreate" i18n="create new instance@@create-new">Create New</label>

        <input type="radio" [(ngModel)]="targetMode" name="targetMode" value="PluginFindAnyOrCreate">
        <label for="targetReuse" i18n="reuse any open app@@reuse-any-open">Reuse Any Open</label>
      </div>      
      <span class="bold-text hide-it" i18n="window title for target app@@target-app-window-title">
        Target App Window Title (this will become the title for the target window)</span>
      <div class="div-input hide-it">
        <input class="iframe-input input-height input-corner input-text shadowed" type="text" name="appWindowTitle" id="appWindowTitle" placeholder="app window title" value="My New Title"/>
      </div>
      <span class="div-input bold-text" i18n="parameters@@parameters">Parameters:</span>
      <div class="div-textarea-input">
        <!-- The text here is merely an example which provides some connection details for the terminal app. It could be anything so long as the receiving App supports it.
             In this example App, the contents here will be put inside of a JSON with the contents as the "data" attribute. -->
        <textarea class="iframe-input input-corner input-text shadowed" rows="10" cols="50" [(ngModel)]="parameters" ></textarea>
      </div>
      <div style="width: 100%">
        <span i18n="status of app or message from app@@app-status">App Status or Message:</span>
        <textarea class="display-text shadowed disable-effect" id="status" placeholder="Status will appear here."
          i18n-placeholder="@@callStatus" readonly>{{callStatus}}</textarea>
      </div>
    </div>
  </div>
  <div class="test-panel dataservice-test-panel">
    <div class="bottom-10">
      <span class="bigger-bold-text" i18n="test of dataservice requests@@dataservice-request-test">Dataservice Request Test</span>
    </div>
    <div>
      <input placeholder="Message" 
             i18n-placeholder="message|indicates that the user will enter a message@@appComponentMessage" [(ngModel)]="helloText"
      (keyup.enter)="sayHello()"/>
      <zlux-button (click)="sayHello()"
              i18n="run|Run the application@@appComponentRun">Run</zlux-button>
    </div>
    <div>
      <label i18n="response|the area where the response from the server will appear@@appComponentResponse">Response</label>
      <textarea class="server-response" placeholder="Response" 
                i18n-placeholder="@@appComponentResponse" >{{serverResponseMessage}}</textarea>
    </div>
  </div>
</div>
<zlux-popup-manager>
</zlux-popup-manager>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
